:host {
  display: block;
  padding: 4rem;
  margin: 0 auto;
  width: 80%;
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 2fr 2fr;
}

form {
  width: 300px;
  > * {
    display: block;
    width: 100%;
  }
}
