/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 0.3px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.h2 {
  font-size: 1.3rem;
  font-weight: 400;
}
