/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.heading {
  font-size: 1.1rem;
  font-weight: 400;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
  padding-bottom: 6px;
  margin-bottom: 1rem;
}
